@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    margin: auto;
}
.menu-button{
    display: flex;
    flex-direction: row;
}
.image {
    width: 9vw;
    height: 6vh;
    margin-left: 11vw;
    margin-top: 2vh;
}

.buttons {
    margin-left: 8vw;
}

.head-buttons {
    cursor: pointer;
    border: 0;
    background: none;
    padding-right: 1vw;
    padding-top: 4vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #959BA4;
}

.head-buttons:hover {
    color: black;
}
.p1,.p2{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
align-items: flex-end;
color: #C6C6C6;
margin-top: 7vh;
}
.sign {
    margin-top: 2vh;
    margin-left: 8vw;
    margin-right: 4vw;
    width: 20px;

}

.sign-in {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    height: 6vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #000000;
    background-color: white;
}

.sign-in:hover {
    background-color: darkgrey;
}

.header1 {
    margin-left: 17vw;
    margin-top: 10vh;
}

.header3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #9F9F9F;
    margin-left: 17vw;
    margin-top: 5vh;
}

.alltable {
    margin-left: 17vw;
}
table {
    border-spacing: 0px;
}

th {
    border: 1px solid gray;
    padding: 1vh 2vw;
    margin: 0;
    cursor: pointer;
}
section {
    width: 40vw;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}
.text-block{
    border: 1px solid gray;
    margin-left: 17vw;
    margin-top: 5vh;
    width: 24.5vw ;
    height: 18vh;
    padding: 15px;
    display: flex;
    flex-direction: column;

}
.text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
color: #000000;
width: 24vw ;
border-radius: 10px;
border: 0px solid;
outline: none;
}
.text:hover{
    background-color: silver;
}
header {
    width: 100vw;
    height: 10vh;
    background-color: #F5F5F6;
    display: flex;
}
main {
    display: flex;
    flex-direction: row;
}
.options{
    display: none;
}
.options-2{
    display: none;
}
.image-mobile{
    display: none;
}
@media  screen and (min-width: 851px) and (max-width: 1187px ){
    .image{
        width: 9vw;
        height: 15vh;
    }
    header {
        width: 100vw;
        background-color: #F5F5F6;
        display: flex;
        height: 21vh;
    }
    main {
        display: flex;
        flex-direction: row;
    }
    .sign{
        margin-left: 6vw;
    }  
    .sign-in{
        padding: 0;
        font-size: 9px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 850px){
    main {
        display: flex;
        flex-direction: column;
        margin-left: 8vw;
    }
    .text-block{
        width: 44vw;
        max-width: 200px;
    }
    .image-mobile{
        display: block;
        width: 11vw;
        height: 8vh;
        margin-left: 38vw;
        margin-top: 2vh;
    }
    .header1{
        margin-left: 22vw;
    }
    .sign{
        margin-left: 30vw;
        margin-right: 0;
    }
    aside{
        margin-bottom: 10vh;
        margin-left: 0px;
    }
    .options{
        display: block;
        background: none;
        border: 0;
        width: 10px;
        padding: 4px;
    }
    .options-2{
        display: none;
        background: none;
        border: 0;
        width: 10px;
        padding: 5px;
    }
    .buttons{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin-left: -4px;
        margin-top: 3px;
        background-color: darkmagenta;
        width: 85px;
    }
    .head-buttons{
        font-size: 9px;
        padding: 7px;
    }
    .menu-button{
        display: flex;
        flex-direction: column;
        width: 10px;
    }
    .menu-image-1{
        width:40px;
        height:40px;
        padding: 5px 0 0 5px;
    }
    .menu-image-2{
        width: 30px;
        height: 25px;
        padding: 8px 0 0 5px;
    }
}